ul {
  list-style-type: none;
}

.active-nav {
  background: rgb(160, 160, 160);
}

.all-items-container {
  text-align: center;
}

.scroll-container {
  overflow: scroll;
  /* scrollbar-width: none; */
  overflow-x: hidden;
  max-height: 75vh;
  max-width: 90vw;
  margin: auto;
}
/* .scroll-container::-webkit-scrollbar {
  display: none;
} */
/* .scroll-container::-webkit-scrollbar:hover {
  display: none;
} */
.card {
  max-width: 20vw;
  border-radius: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card img {
  max-width: 50px;
  max-height: 50px;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-details .caption {
  max-width: 60%;
}

/* hide delete button until hovering over a card */
.delete-btn-container button {
  display: none;
}
.uk-card:hover button {
  display: inline;
}

.single-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 5%;
  max-width: 50vw;
}

.single-item-container img {
  max-width: 20%;
}
.single-item-container ul {
  margin: 0;
  padding: 0;
}

.error-container {
  color: red;
  font-size: small;
  margin: 0;
}

.error-container p {
  margin: 0;
}

.field {
  padding: 1em;
}

.form-container {
  max-width: 50vw;
}
