ul {
  list-style-type: none;
}

.active-nav {
  background: rgb(160, 160, 160);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn-container button {
  display: none;
}

.uk-card:hover button {
  display: inline;
}
